$md3-primary: (
  100: #FFFFFF,
  99: #FDFBFF,
  95: #EDF0FF,
  90: #D9E2FF,
  80: #B0C6FF,
  70: #85A9FF,
  60: #558CFF,
  50: #0F6EFF,
  40: #0056D3,
  30: #0040A3,
  20: #002B74,
  10: #001849,
  0: #000000
);
$md3-secondary: (
  100: #FFFFFF,
  99: #FFFBFC,
  95: #F9EDFF,
  90: #EDDBFF,
  80: #D7B9FF,
  70: #C197FF,
  60: #AB72FF,
  50: #9649FF,
  40: #7D0BF6,
  30: #5E00C2,
  20: #42008B,
  10: #270058,
  0: #000000
);
$md3-tertiary: (
  100: #FFFFFF,
  99: #F6FDFF,
  95: #D3F7FF,
  90: #A1EEFF,
  80: #02DAF9,
  70: #00BCD8,
  60: #009FB7,
  50: #008397,
  40: #006878,
  30: #004E5B,
  20: #003640,
  10: #001F25,
  0: #000000
);
$md3-neutral: (
  100: #FFFFFF,
  99: #FDFBFF,
  95: #F2F0F5,
  90: #E4E2E6,
  80: #C8C6CA,
  70: #ACABAF,
  60: #919094,
  50: #77777B,
  40: #5E5E62,
  30: #46464A,
  20: #303033,
  10: #1B1B1E,
  0: #000000
);
$md3-neutral-variant: (
  100: #FFFFFF,
  99: #FDFBFF,
  95: #F0F0FA,
  90: #E2E2EC,
  80: #C5C6D0,
  70: #AAABB5,
  60: #8F909A,
  50: #757780,
  40: #5C5E67,
  30: #44464E,
  20: #2E3038,
  10: #191B23,
  0: #000000
);
$md3-error: (
  100: #FFFFFF,
  99: #FCFCFC,
  95: #FFEDE9,
  90: #FFDAD4,
  80: #FFB4A9,
  70: #FF897A,
  60: #FF5449,
  50: #DD3730,
  40: #BA1B1B,
  30: #930006,
  20: #680003,
  10: #410001,
  0: #000000
);
$md3-success: (
  100: #FFFFFF,
  99: #F1FFF7,
  95: #B8FFE1,
  90: #84F8CC,
  80: #67DBB1,
  70: #49BF97,
  60: #23A37D,
  50: #008864,
  40: #006C4F,
  30: #00513A,
  20: #003827,
  10: #002116,
  0: #000000
);
$md3-information: (
  100: #FFFFFF,
  99: #FEFBFF,
  95: #EFF0FF,
  90: #DCE1FF,
  80: #B8C4FF,
  70: #92A6FF,
  60: #6B88FF,
  50: #6B88FF,
  40: #0046FA,
  30: #0032C5,
  20: #00218D,
  10: #00115A,
  0: #000000
);
$md3-warning: (
  100: #FFFFFF,
  99: #FCFCFC,
  95: #FFEEDB,
  90: #FFDDB3,
  80: #FFB956,
  70: #E69C2E,
  60: #C7820F,
  50: #A76A00,
  40: #855400,
  30: #653E00,
  20: #472A00,
  10: #2A1700,
  0: #000000
);
