@use 'sass:map';

$weights: (
  regular: 400,
  medium: 500,
  semibold: 600
);
$spacings: (
  -005: -.05rem,
  -0025: -.025rem,
  001: .01rem,
  0025: .025rem,
  004: .04rem,
  005: .05rem
);

$display: (
  large: (
    font-size: 5.7rem,
    font-weight: map.get($weights, regular),
    line-height: 6.4rem,
    letter-spacing: map.get($spacings, -0025)
  ),
  medium: (
    font-size: 4.5rem,
    font-weight: map.get($weights, regular),
    line-height: 5.2rem,
    letter-spacing: 0
  ),
  small: (
    font-size: 3.6rem,
    font-weight: map.get($weights, regular),
    line-height: 4.4rem,
    letter-spacing: 0
  )
);
$headline: (
  large: (
    font-size: 3.2rem,
    font-weight: map.get($weights, regular),
    line-height: 4rem,
    letter-spacing: 0
  ),
  medium: (
    font-size: 2.8rem,
    font-weight: map.get($weights, regular),
    line-height: 3.6rem,
    letter-spacing: 0
  ),
  small: (
    font-size: 2.4rem,
    font-weight: map.get($weights, regular),
    line-height: 3.2rem,
    letter-spacing: 0
  )
);
$title: (
  large: (
    font-size: 2.2rem,
    font-weight: map.get($weights, regular),
    line-height: 2.8rem,
    letter-spacing: 0
  ),
  medium: (
    font-size: 1.6rem,
    font-weight: map.get($weights, medium),
    line-height: 2.4rem,
    letter-spacing: map.get($spacings, 001)
  ),
  small: (
    font-size: 1.4rem,
    font-weight: map.get($weights, medium),
    line-height: 2rem,
    letter-spacing: map.get($spacings, 001)
  )
);
$label: (
  large: (
    font-size: 1.4rem,
    font-weight: map.get($weights, medium),
    line-height: 2rem,
    letter-spacing: map.get($spacings, 001)
  ),
  medium: (
    font-size: 1.2rem,
    font-weight: map.get($weights, medium),
    line-height: 1.6rem,
    letter-spacing: map.get($spacings, 005)
  ),
  small: (
    font-size: 1.1rem,
    font-weight: map.get($weights, medium),
    line-height: 1.6rem,
    letter-spacing: map.get($spacings, 005)
  )
);
$body: (
  large: (
    font-size: 1.6rem,
    font-weight: map.get($weights, regular),
    line-height: 2.4rem,
    letter-spacing: map.get($spacings, 005)
  ),
  medium: (
    font-size: 1.4rem,
    font-weight: map.get($weights, regular),
    line-height: 2rem,
    letter-spacing: map.get($spacings, 0025)
  ),
  small: (
    font-size: 1.2rem,
    font-weight: map.get($weights, regular),
    line-height: 1.6rem,
    letter-spacing: map.get($spacings, 004)
  )
);

$display1: (
  font-size: 6.4rem,
  font-weight: map.get($weights, regular),
  line-height: 7.6rem,
  letter-spacing: map.get($spacings, -005)
);
$display2: (
  font-size: 5.7rem,
  font-weight: map.get($weights, regular),
  line-height: 6.4rem,
  letter-spacing: map.get($spacings, -0025)
);
$display3: (
  font-size: 4.5rem,
  font-weight: map.get($weights, regular),
  line-height: 5.2rem,
  letter-spacing: 0
);
$headline1: (
  font-size: 3.6rem,
  font-weight: map.get($weights, regular),
  line-height: 4.4rem,
  letter-spacing: 0
);
$headline2: (
  font-size: 3.2rem,
  font-weight: map.get($weights, regular),
  line-height: 4rem,
  letter-spacing: 0
);
$headline3: (
  font-size: 2.8rem,
  font-weight: map.get($weights, regular),
  line-height: 3.6rem,
  letter-spacing: 0
);
$headline4: (
  font-size: 2.4rem,
  font-weight: map.get($weights, regular),
  line-height: 3.2rem,
  letter-spacing: 0
);
$headline5: (
  font-size: 2.2rem,
  font-weight: map.get($weights, regular),
  line-height: 2.8rem,
  letter-spacing: 0
);
$headline6: (
  font-size: 1.8rem,
  font-weight: map.get($weights, regular),
  line-height: 2.4rem,
  letter-spacing: 0
);
$subhead1: (
  font-size: 1.6rem,
  font-weight: map.get($weights, medium),
  line-height: 2.4rem,
  letter-spacing: map.get($spacings, 001)
);
$subhead2: (
  font-size: 1.4rem,
  font-weight: map.get($weights, medium),
  line-height: 2rem,
  letter-spacing: map.get($spacings, 001)
);
$button: (
  font-size: 1.4rem,
  font-weight: map.get($weights, semibold),
  line-height: 2rem,
  letter-spacing: map.get($spacings, 001)
);
$body1: (
  font-size: 1.6rem,
  font-weight: map.get($weights, regular),
  line-height: 2.4rem,
  letter-spacing: map.get($spacings, 005)
);
$body2: (
  font-size: 1.4rem,
  font-weight: map.get($weights, regular),
  line-height: 2rem,
  letter-spacing: map.get($spacings, 0025)
);
$caption: (
  font-size: 1.2rem,
  font-weight: map.get($weights, regular),
  line-height: 1.6rem,
  letter-spacing: map.get($spacings, 004)
);
$overline: (
  font-size: 1.2rem,
  font-weight: map.get($weights, medium),
  line-height: 1.6rem,
  letter-spacing: map.get($spacings, 005)
);
$labelSmall: (
  font-size: 1.1rem,
  font-weight: map.get($weights, medium),
  line-height: 1.6rem,
  letter-spacing: map.get($spacings, 005)
);
