$border-radius: (
  04: .4rem,
  08: .8rem,
  12: 1.2rem,
  16: 1.6rem,
  20: 2rem,
  28: 2.8rem
);

$spacings: (
  -16: -1.6rem,
  -08: -.8rem,
  00: 0,
  01: .1rem,
  02: .2rem,
  04: .4rem,
  06: .6rem,
  08: .8rem,
  10: 1rem,
  12: 1.2rem,
  16: 1.6rem,
  20: 2rem,
  24: 2.4rem,
  32: 3.2rem
);

$icon-sizes: (
  mini: 1.6rem,
  small: 2rem,
  default: 2.4rem,
  medium: 3rem,
  large: 3.6rem
);


